<textarea id="tinymce4" rel="tinymce" rows="10" cols="40"></textarea>
<script type="text/javascript">
$("document:ready", function() {
  $("[rel=tinymce]").tinymce({
    theme: "modern",
    toolbar: "bold,italic,underline,|,bullist,numlist,outdent,indent,|,undo,redo,|,pastetext,pasteword,selectall,|,uploadimage",
    pagebreak_separator: "<p class='page-separator'>&nbsp;</p>",
    plugins: ["uploadimage"],
    relative_urls: false,
    remove_script_host: false,
    document_base_url: (!window.location.origin ? window.location.protocol + "//" + window.location.host : window.location.origin) + "/",
  })
});
</script>